.input {
  padding: 10px 15px;
  border: 1px solid #e3e4e3;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/768px-Search_Icon.svg.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
}
