.input {
  padding: 10px 15px;
  border: 1px solid #e3e4e3;
  background: url("https://uc78cd1fba80b5cb49f21b772531.previews.dropboxusercontent.com/p/thumb/ABLypDVZIanUSvn3Jx8wZ2-9Tb7JzOhz8DLiTce_80F_yI0UFPgtUOmaoVtU1dFRMSty09TlcH4q52aEWIRtSIS-F3Tdt5YG7E2Yd4ZucjrHMaMQJhbLrpX3jCWWpRR7YycIPPaTfFe2LGTYTQFlYdhHrZYgCoJ6IAf_lZtH-oDsyNQ3Rg_hrINDnZA7dkUqQfZ1LoazR8KQnREiHZCWqqylm_8cCF6gm0rtPeln1mGn9dt-rua8W8cAFRxpbQnuyofqjDST9WHg3Y7MqWQfuoqj9wBXD1yztaWIhVLAC7VaSPOZBttvJUYFrKNSSFqlEHdpPMMQs4RuY6xzGmIlnrJ9NvdHZpgAevYA1txhg3lJ9Q/p.png?fv_content=true&size_mode=5");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
}
